@page "/profiles/delete"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Profile</h2>
    <hr />
    @if (profile is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@profile.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@profile.FirstName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@profile.LastName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@profile.Age</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Gender</dt>
            <dd class="col-sm-10">@profile.Gender</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Bio</dt>
            <dd class="col-sm-10">@profile.Bio</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Interest</dt>
            <dd class="col-sm-10">@profile.Interest</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PhotoURL</dt>
            <dd class="col-sm-10">@profile.PhotoURL</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RegionName</dt>
            <dd class="col-sm-10">@profile.RegionName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsVerified</dt>
            <dd class="col-sm-10">@profile.IsVerified</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastActiveDate</dt>
            <dd class="col-sm-10">@profile.LastActiveDate</dd>
        </dl>
        <EditForm method="post" Model="profile" OnValidSubmit="DeleteProfile" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(profile is null)">Delete</button> |
            <a href="/profiles">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Profile? profile;

    [SupplyParameterFromQuery]
    private int ProfileId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        profile = await context.Profile.FirstOrDefaultAsync(m => m.ProfileId == ProfileId);

        if (profile is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProfile()
    {
        using var context = DbFactory.CreateDbContext();
        context.Profile.Remove(profile!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/profiles");
    }
}
