@page "/profiles"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<QuickGrid Class="table" Items="context.Profile">

    <TemplateColumn Title="User ID" Context="profile">
        <span style="font-size:10px;">
            @profile.UserId
        </span>
    </TemplateColumn>

    <PropertyColumn Property="profile => profile.FirstName" />
    <PropertyColumn Property="profile => profile.LastName" />
    <PropertyColumn Property="profile => profile.Age" />
    <PropertyColumn Property="profile => profile.Gender" />
    <PropertyColumn Property="profile => profile.Bio" />
    <PropertyColumn Property="profile => profile.Interest" />
    <PropertyColumn Property="profile => profile.RegionName" />
    <TemplateColumn Title="Last Updated Date" Context="profile">
        <span style="font-size:15px;">
            @profile.LastActiveDate
        </span>
    </TemplateColumn>
    <TemplateColumn Title="Photo" Context="profile">
        @if (!string.IsNullOrEmpty(profile.PhotoURL))
        {
            <img src="@profile.PhotoURL" alt="Profile Photo"
                 style="width:80px; height:80px; border-radius:80%; object-fit:cover;" />
        }
        else
        {
            <span>No photo</span>
        }
    </TemplateColumn>

    <TemplateColumn Context="profile">
        <a href="@($"profiles/edit?id={profile.ProfileId}")">Edit</a>       
        <a href="@($"profiles/delete?id={profile.ProfileId}")">Delete</a>
    </TemplateColumn>

</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
