@page "/matchcriteria/details"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>MatchCriteria</h2>
    <hr />
    @if (matchcriteria is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MatchId</dt>
            <dd class="col-sm-10">@matchcriteria.MatchId</dd>
            <dt class="col-sm-2">PreferenceId</dt>
            <dd class="col-sm-10">@matchcriteria.PreferenceId</dd>
            <dt class="col-sm-2">ProfileId</dt>
            <dd class="col-sm-10">@matchcriteria.ProfileId</dd>
            <dt class="col-sm-2">CriteriaType</dt>
            <dd class="col-sm-10">@matchcriteria.CriteriaType</dd>
            <dt class="col-sm-2">CriteriaValue</dt>
            <dd class="col-sm-10">@matchcriteria.CriteriaValue</dd>
        </dl>
        <div>
            <a href="@($"/matchcriteria/edit?matchcriteriaid={matchcriteria.MatchCriteriaId}")">Edit</a> |
            <a href="@($"/matchcriteria")">Back to List</a>
        </div>
    }
</div>

@code {
    private MatchCriteria? matchcriteria;

    [SupplyParameterFromQuery]
    private int MatchCriteriaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        matchcriteria = await context.MatchCriteria.FirstOrDefaultAsync(m => m.MatchCriteriaId == MatchCriteriaId);

        if (matchcriteria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
